doctype
html
	head
		title MultiVision
		base(href="/")
		link(rel="stylesheet",href="/css/bootstrap.css")
		link(rel="stylesheet",href="/vendor/toastr/toastr.css")
		link(rel="stylesheet",href="/css/site.css")
	body(ng-app='mean')
		include currentUser
		block main-content
		include scripts

